* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  
  }
  
  body {
    background: rgb(125, 4, 186);
    ;
    padding: 2em 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h5 {
  margin: 0;
}
