* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
  overflow: hidden;
  }
  
  body {
    background: rgb(120, 9, 121);
      background: linear-gradient(90deg, rgba(120, 9, 121, 1) 0%, rgba(232, 6, 223, 1) 41%, rgba(192, 0, 255, 1) 100%);
    ;
    padding: 2em 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h5 {
  margin: 0;
}
